
@each $display in (flex) {
  .#{$display} {
    display: $display;
  }
}

@each $alignment in (center) {
  .items-#{$alignment} {
    align-items: $alignment;
  }
}

@each $justify in (center, space-between) {
  $justify-prop: $justify;

  @if str-slice($justify, 0, 6) == "space-" {
    $justify-prop: str-slice($justify, 7);
  }

  .justify-#{$justify-prop} {
    justify-content: $justify;
  }
}

@each $dir in (width, height) {
  .#{str-slice($dir, 0, 1)}-full {
    #{$dir}: 100%;
  }
}

@each $position in (relative, absolute) {
  .#{$position} {
    position: $position;
  }
}

@each $quantity in (3, 5) {
  $newQuantity: $quantity * 4px;

  .p-#{$quantity} {
    padding: $newQuantity;
  }

  .pe-#{$quantity} {
    padding-right: $newQuantity;
  }

  .me-#{$quantity} {
    margin-right: $newQuantity;
  }

  .mt-#{$quantity} {
    margin-top: $newQuantity;
  }
}

.fit-content {
  width: fit-content;
}

.flex-column {
  flex-direction: column;
}

.ms-auto {
  margin-left: auto;
}

@each $cursor in (pointer) {
  .cursor-#{$cursor} {
    cursor: $cursor;
  }
}
